DATABASE_URL="postgresql://postgres:1201@localhost:5432/kultour_db"
JWT_SECRET="kultour_super_secret_jwt_key_change_in_production_2024"
JWT_EXPIRES_IN="7d"
PORT=4000
NODE_ENV=development
FRONTEND_URL="http://localhost:5173"
